/*colors used : 
primary - apple core: hex -#dcc7aa, rgb - 220,199,170
secondary - blueberry: hex- #6b7a8f, rgb - 107,122,143
accent colors: apricot-  hex - # f7882f, rgb - 247,136,47 and oxblood - hex - #76323f */
* {
  box-sizing: border-box;
}

body {
background-color: rgb(220, 199, 170, 0.4);
font-family: 'Open Sans', sans-serif;
font-size: 18px; /* Sets the font size to 18px */
font-weight: 300; /* Sets the font weight to 300 */
line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
color: #4a4a4a;
}


h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 1.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.00em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  /*setting images to full width - responsive*/
  img {
      width: 100%;
       border-radius: 5%;
  }
 
 
  
/*back to top button*/
  #button {
    display: inline-block;
    background-color:#4a4a4a;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: azure;
  }
  #button:hover {
    cursor: pointer;
    background-color: #6b7a8f;
  }
  #button:active {
    background-color: #4a4a4a;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

   /*anchor links*/
   a {
    color: #f7882f;
   }
a:hover,
a:focus {
  color:black ;  
}

.active a { 
  color: #6b7a8f;
}
a
:active {  
    color:antiquewhite;
}

/*buttons*/
.button {
    display: inline-block;
    background-color: #d7cec7;
    color: #6b7a8f;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #565656;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button:active  {
    opacity: 0.8;
    text-decoration: none;
  }

  .button.contact:hover { /*button rules for the mailto button */
      background-color: transparent;
      color:azure;
      text-transform: uppercase;
      border: 2px solid;
  }

  .button.contact:hover {
    background-color: #6b7a8f;
    color: #dcc7aa
  }

  .button.contact:active {
    background-color: #6b7a8f;
    color: azure;
    text-decoration: none
  }
  
  

  header { /*styling the header elements */
    background-color: rgb(107, 122, 143, 1);
    padding: 10px 5px 15px 5px;
    position:fixed;
    width: 100%;
    box-shadow: -2px 2px 5px grey;
  }
  
 .logo {
  width: 75px;
  height: 75px;
  max-width: 150px;
 }

   /*navigation styling*/
   nav {
    display: inline-block;
  }

  nav  ul {
    list-style-type: none;
    padding: 0;
  }

  nav  ul  li  a {
    color: #4a4a4a;
    text-transform: uppercase;	
    font-weight: 700;
    padding: 0 15px;
    text-decoration: none;
  }
  nav  ul  li  a:visited {
    color:azure;
  }

nav {
  width: auto;
  float: right;
}
  


   /*for the hamburger menu*/
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 20px;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

.navtoggle.responsive li {
  display: block;
}

  .navtoggle.responsive nav {
    background-color:#6b7a8f;
    margin-top: 25px;
    margin-bottom: -51%;;
  }

  .navtoggle.responsive li {
    display: block;
    padding:10px 0;
    border-top: 1px solid azure;
  }

  .navtoggle.responsive li:last-child {
    padding: 0px 0 10px;
  }

  a.icon {
    color: azure;
  }
  #hero {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

   /* layout stylings */

  .selector {
    float: right;
  }

  .container {
    padding: 15px 15px;

  }

  main {
    padding-top: 99px;;
  
  }

  #hero {
    display: inline-block;
    width: 100%;
  }

  #hero h1 {
    text-align: center; 
  
  }

  #hero span {
    display:block;
  }

  #hero p {
    text-align:left;
  }


  #work h1 {
    text-align: center;
  }

#work h3 {
  padding: 10px;
}

 #work h2 {
   text-align: center;
 } 

#work p {
  padding-left: 20px;
}

#work .row { 
  padding-bottom: 25px; border-bottom: 1px solid   rgb(107, 122, 143, 0.3); 
 
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 2 left and right */
  
  }

  

  #moreReading {
    text-align: center;
  }
/* footer styling */

#contact {
  text-align: center;
}

 footer p {
   margin-top: 10px;
 }

footer {
  background-color: rgb(107, 122, 143, 1);
  color: azure;
}
 
   /*styling the social icons*/

   .social {
    list-style-type: none;
    padding: 0;
    margin-left: -10px;
  }

  .social li {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .fa-brands {
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color:azure
  }

    /* animation*/
    #about-picture {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  
    @keyframes color-change {
     0% {fill: #edc655;}
      50% { fill: #fcffad;;}
      100% {fill:#f76414;;}
    }
  
    .sun {
      animation: 4s color-change infinite alternate linear;
    }
   
    @keyframes cloud-move {
      from { transform: translate(0,50px);}
      to {transform: translate:(200px, 50px);}
      }
  
      .cloud-front {
        animation:  30s cloud-move infinite alternate linear;
      }
      @keyframes cloud-move-reverse {
        from {transform: translate(446px, 48px);}
        to {transform: translate: (100px, 48px);}
      }
      .cloud-back {
        animation:  34s cloud-move infinite alternate linear ;
      }

 /* media queries*/
/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/

[class*="col-"] {
  padding: 10px;
}

 /* media queries*/
  @media only screen and (min-width: 640px) {
   
    header {
      text-align: unset;
      padding: 20px 0px 13px;
    }
  
   nav {
     width: auto;
     float: right;
   }

   .col-md-6 {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }

   #about-page h3 { margin-top: 0;}

   nav > ul > li {
    display: inline-block;
    float: right;
 }

   .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
}
  }

  /* larger devices- 1024 px or bigger*/ 
@media only screen and (min-width: 1024px){   

    
 
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-5 {
  width: 40% ;
  }

.col-lg-7 {
  width: 60%;
  float: left;
  padding-bottom: 40px;
}

/* navbar with animated underlines - found in codepen- not in CF*/
 
nav ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

nav ul li.active-link .underline {
  width: 100%;
  background-color: azure;
}

nav ul li:hover .underline {
background-color: azure;
width: 100%;
}


nav ul li:active a {
transition: none;
color: rgb(225, 255, 255, 0.76);
}

nav ul li:a .underline {
transition: none;
background-color: rgb(225, 255, 255, 0.76);
}

}

  @media only screen and (min-width: 1440px){   
  }

  .r-link a {
    color:#f7882f;
    text-transform: uppercase;
  }
