/*colors used : 
primary - apple core: hex -#dcc7aa, rgb - 220,199,170
secondary - blueberry: hex- #6b7a8f, rgb - 107,122,143
accent/text colors: #1c1c1c */
* {
  box-sizing: border-box;
}

body {
background-color: rgb(220,199,170, .3);
font-family: 'Open Sans', sans-serif;
font-size: 18px; /* Sets the font size to 18px */
font-weight: 300; /* Sets the font weight to 300 */
line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
color: #1c1c1c;
}


h1, h2, h3, h4 {
    line-height: 1.4;
    padding-top: 30px;
  }

  h1 {
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
  }
  
  h2 {
    font-size: 2.00em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

 /* setting images to full width - responsive*/
  img {
      width: 100%;
       border-radius: 10%;
       vertical-align: middle;
  }
 
 
 
/* card styling on project page*/
.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: rgb(220,199,170, .3);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #6b7a8f 40%, #1c1c1c 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
/*back to top button*/
  #button {
    display: inline-block;
    background-color:#1c1c1c;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #FFFFFF;
  }
  #button:hover {
    cursor: pointer;
    background-color:#1c1c1c;
  }
  #button:active {
    background-color: #4a4a4a;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

   /*anchor links*/
   a {
    color: #1c1c1c;
   }
a:hover,
a:focus {
  color:#6b7a8f ;  
}

.active a { 
  color: #6b7a8f;
}
a
:active {  
    color:antiquewhite;
}

/*buttons*/
.button {
    display: inline-block;
    background-color: #1c1c1c;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #1c1c1c;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button:active  {
    opacity: 0.8;
    text-decoration: none;
  }

  .button.contact:hover { /*button rules for the mailto button */
      background-color: #1c1c1c;
      color:#6b7a8f;
      text-transform: uppercase;
      border: 2px solid;
  }

  .button.contact:hover {
    background-color: #6b7a8f;
    color: #FFFFFF
  }

  .button.contact:active {
    background-color: #1c1c1c;
    color: #1c1c1c;
    text-decoration: none
  }
  
  

  header { /*styling the header elements */
    background-color: #6b7a8f;
    padding: 10px 5px 15px 5px;
    position:fixed;
    width: 100%;
    z-index: 1;
  }
  
 .logo {
  width: 100px;
  height: 100px;
  max-width: 150px;
 }

   /*navigation styling*/
   nav {
    display: inline-block;
  }

  nav  ul {
    list-style-type: none;
    padding: 0;
  }

  nav  ul  li  a {
    color: #1c1c1c;
    text-transform: uppercase;	
    font-weight: 700;
    padding: 0 15px;
    text-decoration: none;
  }
  nav  ul  li  a:visited {
    color:#1c1c1c;
  }

nav {
  width: auto;
  float: right;
}
  


   /*for the hamburger menu*/
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 20px;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

.navtoggle.responsive li {
  display: block;
}

  .navtoggle.responsive nav {
    background-color:#6b7a8f;
    margin-top: 25px;
    margin-bottom: -51%;;
  }

  .navtoggle.responsive li {
    display: block;
    padding:10px 0;
    border-top: 1px solid #1c1c1c;
  }

  .navtoggle.responsive li:last-child {
    padding: 0px 0 10px;
  }

  a.icon {
    color: #1c1c1c;
  }
  #hero {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

   /* layout stylings */

  .selector {
    float: right;
  }

  .container {
    padding: 15px 15px 15px 15px;

  }

  main {
    padding-top: 99px;;
  
  }

  #hero {
    display: inline-block;
    width: 100%;
  }

  #hero h1 {
    text-align: center; 
  
  }

  #hero span {
    display:block;
  }

  #hero p {
    text-align:left;
  }


  #work h1 {
    text-align: center;
  }

  #work h2 {
    text-align: center;
  } 

#work h3 {
  padding: 10px;
}



  .row {
    margin: 25px 100px;
    padding-bottom: 25px; border-bottom: 1px solid   rgb(28,28,28, .3);
   /* 25px top and bottom, 2 left and right */
  }


/* footer styling */
footer {
  text-align: center;
  padding: 100px;
}

 footer p {
   margin-top: 10px;
 }

footer {
  color: #1c1c1c;
}
 
   /*styling the social icons*/

   .social {
    list-style-type: none;
    padding: 0;
    margin-left: -10px;
  }

  .social li {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .fa-brands {
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color:#1c1c1c
  }

 
.text {
  box-sizing: border-box;
  float: left;
  margin-left: -100%;
  padding: 2em;
  width: 100%;
}

.text {
  border: 1px solid #1c1c1c;
}


    /* animation*/

    #big-wheel {
      animation: wheel 12s linear infinite;
      transform-origin: center;
      transform-box: fill-box;
    }

@keyframes wheel {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

#cabins {
  animation: cabins 5s linear infinite;
  transform-origin: top;
  
}

@keyframes cabins {
  0%,
  100% {
  transform: rotate(2deg);
  }
  50% {
  transform: rotate(-2deg);
    } 
  }

  #tree-left, 
  #tree-right {
    animation: tree 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box ;
    
    
  }
  
  @keyframes tree {
    0%,
    100% {
    transform: rotate(2deg);
    }
    50% {
    transform: rotate(-2deg);
      } 
    }
  
    #ballon-man {
      animation: ballon-man 3s linear infinite;
      transform-box: fill-box ;
      
      
    }
    
    @keyframes ballon-man {
      0%,
      100% {
      transform: translatex(10px);
      }
      50% {
      transform: translateX(0px);
        } 
      }

      #person-walking {
        animation: person-walking 3s linear infinite;
        transform-box: fill-box ;
        
        
      }
      
      @keyframes person-walking {
        0%,
        100% {
        transform: translatex(-20px);
        }
        50% {
        transform: translateX(0px);
          } 
        }


        #ballons {
          animation: ballons 3s linear infinite;
          transform-box: fill-box ;
          transform-origin: bottom;
          
          
        }
        
        @keyframes ballons {
          0%,
          100% {
          transform: rotate(3deg);
          }
          50% {
          transform:  rotate(-3deg);
          transform: scale(1);
            } 
          }
  

/*styling for the columns -skills/tools-  on about page*/

         .rows {
            padding-top: 10px;
             border-bottom: 1px solid   rgb(28,28,28, .3);
            
          }

.column {
  float:left;
  width: 50%;
  padding: 1rem;
  height: 300px;
 
}

 
 /* media queries*/
/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/

[class*="col-"] {
  padding: 10px;
}

 /* media queries*/
  @media only screen and (min-width: 640px) {
   
    header {
      text-align: unset;
      padding: 20px 0px 13px;
    }
  
   nav {
     width: auto;
     float: right;
   }

   

   .col-md-6 {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }

 

   nav > ul > li {
    display: inline-block;
     ;
 }

   .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
}
  }

  

  /* larger devices- 1024 px or bigger*/ 
@media only screen and (min-width: 1024px){

 }

    
 
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-5 {
  width: 40% ;
  }

.col-lg-7 {
  width: 60%;
  float: left;
  padding-bottom: 40px;
}
/* for the image on about page to make responsive*/
@media only screen and (min-width: 1024px){
  .left-text {
      padding: 50px;
      width: 50%;
  }
  .right-image{
      width: 50%;
      border-radius: 0%;
      float: right;
  }
  

/* navbar with animated underlines - found in codepen- not in CF*/
 
nav ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

nav ul li.active-link .underline {
  width: 100%;
  background-color: #1c1c1c;
}

nav ul li:hover .underline {
background-color: #1c1c1c;
width: 100%;
}


nav ul li:active a {
transition: none;
color: rgb(225, 255, 255, 0.76);
}

nav ul li:a .underline {
transition: none;
background-color: rgb(225, 255, 255, 0.76);
}

}

  @media only screen and (min-width: 1440px){   
  }

  

/* Simple fallback for browsers that don't support display:grid  for message app page*/
.grid {
  max-width: 40rem; 
  padding:0 1.5rem;
  display:block; margin:auto;
}
.grid > * { margin: .75rem 0; }

@supports (display: grid) {
  .grid *  { grid-column: md; }
  .grid .alignfull { grid-column: xl; text-align:center; }
  .grid .alignwide { grid-column: l; text-align:center; }
  .grid .grid { margin:0; }
  .grid {
    display: grid; margin:unset; max-width: unset; padding: unset; 
        grid-template-columns: 
      [xl-start] 1fr [l-start] 1.5rem 1fr [md-start] minmax(200px,40rem) [md-end] 1fr 1.5rem [l-end] 1fr [xl-end];
  }
  
}
/*
xl-start               l-start            md-start                              md-end             l-end           xl-end
                                          +-------------------------------------+
                                          |                                     |
                                          +-------------------------------------+           
                       +---------------------------------------------------------------------------+
                       |                                                                           |
                       |                                .alignwide                                 |
                       |                                                                           |
                       |                                                                           |
                       |                                                                           |
                       |                                                                           |
                       |                                                                           |
                       |                                                                           |
                       +---------------------------------------------------------------------------+
xl-start               l-start            md-start                              md-end             l-end           xl-end
                                          +-------------------------------------+
                                          |                                     |
                                          +-------------------------------------+
                                          +-------------------------------------+
                                          |                                     |
                                          +-------------------------------------+
                                          +-------------------------------------+
                                          |                                     |
                                          +-------------------------------------+                                 
+--------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                          |
|                                                       .alignfull                                                         |
|                                                                                                                          |
.                                                                                                                          .
.                                                                                                                          .
.                                                                                                                          .
|                                                                                                                          |
|                                                                                                                          |
|                                                                                                                          |
+--------------------------------------------------------------------------------------------------------------------------+ 
xl-start               l-start            md-start                              md-end             l-end           xl-end
                                          +-------------------------------------+
                                          |                                     |
                                          +-------------------------------------+
                                          +-------------------------------------+
                                          |                                     |
                                          +-------------------------------------+
xl-start               l-start            md-start                              md-end             l-end           xl-end
*/


/** Should not be needed if using any type of reset CSS: **/
/**/
  .grid img {
    max-width: 100%;
  }
/**/
figure {
  margin:0;
}
body {
  margin:0;
}
/**/
/** CSS Debugger **
  *:not(path) { outline:solid 4px rgba(10,10,200,.25)}
/**/