/*colors used : 
primary - apple core: hex -#dcc7aa, rgb - 220,199,170
secondary - blueberry: hex- #6b7a8f, rgb - 107,122,143
accent colors: apricot-  hex - # f7882f, rgb - 247,136,47 and oxblood - hex - #76323f */
* {
  box-sizing: border-box;
}

body {
background-color: rgb(220, 199, 170, 0.3);
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-size: 16px; /* Sets the font size to 16px */
font-weight: 300; /* Sets the font weight to 300 */
line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
color: #4a4a4a;
}

/*header {
  background-color: rgb(107, 122, 143,);
}*/

h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
      width: 100%;
       border-radius: 02%;
  }
  a {
    color: #6b7a8f;
    text-decoration: none; /* No underlining */
  }
  a:hover,
  a:focus {
    color: #6b7a8f;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
a:visited { /* visited link */
    color:#6b7a8f
}
a:active {  /* selected link */
    color:#76323f
}
.button,
.button:hover {
    display: inline-block;
    background-color: #d7cec7;
    color: #6b7a8f;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #4a4a4a;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact:hover {
      background-color: transparent;
      color:#6b7a8f;
      text-transform: uppercase;
      border: 2px solid;
  }
  /* layout stylings */
  
  .container {
    padding: 0 15px
  }
 
  #work h1 {
    text-align: center;
  }

 #work h2{
   padding-left: 10px;
 } 

#work p {
  padding-left: 10px;
}

#work .row { 
  padding-bottom: 25px; border-bottom: 1px solid   rgb(107, 122, 143, 0.3); 
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 2 left and right */
  
  }

#hero h1 {
  text-align: center; /*centers text */

}

.logo {
  max-width: 250px ;
  height: 70px;
  width: 70px;
  border-top-left-radius: 0px;
}
header {
  background-color: rgb(107, 122, 143, 0.5);
  text-align: center;
  padding: 10px 0;
  box-shadow: inset -2px -3px 3px 0px  rgba(50, 50, 50, 0.1);
  position: relative;
}
nav > ul { /*takes away the bullet points*/
  list-style-type: none;
  padding: 0;
  width: 100%;
  
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
  color:#d7cec7
}
#hero {
  background-color: rgb(107, 122, 143, );
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* footer styling */

#contact {
  text-align: center;
}

 footer p {
   margin-top: 10px;
 }
#socialmedia {
  size: 25px;
}

 
 